body { margin: 0px; background-color: #000; height: 100%; overflow: hidden; }
video { width: 100%; position: absolute; z-index: 100;}
.bodysection { position: absolute; z-index: 101; background-color: #fff; opacity: 0.7; padding: 20px; left: 33%; top: 33%; right: 33%; }
.bodysection h1 { font-family: "times new roman"; font-size: 36pt; text-align: center; }
.bodysection p { font-family: arial; text-align: center; }